<launch>

<node
    pkg="beginner_tutorials"
    type="beginner_tutorials_talker"
    name="beginner_tutorials_talker"
    respawn="true"
    output="screen"
    ns="sim1"
/>
<node
    pkg="beginner_tutorials"
    type="beginner_tutorials_listener"
    name="beginner_tutorials_listener"
    required="true"
    output="screen"
    ns="sim1"
/>


</launch>